.contato{
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  box-shadow: .5px .5px 8px #aaaaaa7e;
  padding: 2rem;
}

@media screen and (min-width: 0){
  .contato{
    width: 100%;
    margin: 2rem 2rem;
  }
}

@media screen and (min-width: 768px){
  .contato{
    width: 50%;
    margin: 2rem 5rem 2rem 2rem;
  }
}