.contato__botao{
  align-self: flex-end;
  height: 4.5rem;
  width: 25%;
  color: #fdfdfd;
  background-color: #141615;
  border-radius: 8px;
  transition: all .2s;
  cursor: pointer;
}

.contato__botao:hover{
  opacity: .95;
}