td {
  border-collapse: collapse;

  padding: 1.4rem;
}

td:nth-child(odd) {
  border-right: 1px solid #7a7a7aa6;
  border-collapse: collapse;

}

tr:last-child() {
  border-bottom: 1px solid #7a7a7aa6;

}

tr {
  color: #fdfdfd;
}

@media (min-width: 0) {
  table {
    margin-top: 2rem;
  }

  td {
    font-size: 1.6rem;
  }
}

@media (min-width: 580px) {
  table {
    margin-top: 0;
  }

  td {
    font-size: 2rem;
  }
}