.informacoes__titulo {
  text-align: center;
  font-size: 3rem;
  color: #fdfdfd;
  font-weight: 800;
  border-bottom: 1px solid #7a7a7aa6;
  margin-bottom: 1rem;
}

@media (min-width: 0) {
  .informacoes__titulo {
    text-align: center;
    font-size: 2rem;
    color: #fdfdfd;
    font-weight: 800;
    border-bottom: 1px solid #7a7a7aa6;
    margin-bottom: 1rem;
  }
}

@media (min-width: 500px) {
  .informacoes__titulo {
    font-size: 2.5rem;
  }
}

@media (min-width: 800px) {
  .informacoes__titulo {
    font-size: 3rem;
  }
}