* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

/** CABEÇALHO **/
header {
  background-color: #bbbbbb;
  padding: 2rem 0;
}
.box {
  position: relative;
  width: 94rem; /** Valor fixo na web */
  margin: 0 auto;
}
nav {
  position: absolute;
  right: 0rem;
  top: 11rem;
}
nav ul li {
  display: inline;
  margin-left: 1.5rem;
}

nav ul li a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 2.1rem;
  text-decoration: none;
}

/** RODAPÉ **/
footer {
  text-align: center;
  background-image: url("../images/bg.jpg");
  padding: 2rem 0;
}

footer p {
  color: #ffffff;
  font-size: 1.5rem;
  margin-top: 2rem;
}

/** HOVERS **/
nav ul li a:hover {
  color: #c78c19;
  text-decoration: underline;
  transition: 0.2s;
}
